.cms-block-content{
    float: left;
    width: 100%;
    background-color: #ffffff;
    background-image: url('img/bg-mobile.jpg');
    position: relative;
	padding-bottom: 134%;
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: auto 100%;
}
.cms-block-content h2{
	float: left;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0;
	margin: 0;

}
.cms-block-content ul{
	margin: 0 0 0 -85px;
	max-width: 170px;
	width: 100%;
	position: absolute;
	list-style: none;
	padding: 0;
	bottom: 25px;
	left: 50%;
}
.cms-block-content ul li{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.cms-block-content ul li:last-child{
	margin-bottom: 0;
}
.cms-block-content ul li a{
	text-align: center;
	text-transform: uppercase;
	float: left;
	padding: 7px 0 8px;
	box-sizing: border-box;
	width: 100%;
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
	border: 2px solid #9C9998;
	font-weight: bold;
}
@media screen and (min-width: 640px){
	.cms-block-content{
		background-image: url('img/bg-tablet.jpg');
	}
	.cms-block-content ul{
		bottom: 10%;
	}
}	
@media screen and (min-width: 768px){
	.cms-block-content{
		background-image: url('img/bg-desktop.jpg');
		padding-bottom: 47%;
		background-size: 100% auto;
		border-right: 20px solid transparent;
		border-left: 20px solid transparent;
		border-bottom: 25px solid transparent;
		box-sizing: border-box;
	}
	.cms-block-content ul{
		max-width: 300px;
		background-color: #ffffff;
		padding: 10px 0;
		margin-left: -150px;
		bottom: 50%;
		margin-bottom: -38px;
	}
	.cms-block-content ul li{
		margin-bottom: 5px;
	}
	.cms-block-content ul li a{
		border: 0;
		padding: 6px 0 6px;
		color: #000;
	}
}